body{
    font-family: 'Quintessential', cursive;
    margin: 0%;
}
h1{
  
    font-size: 50px;
}
.my-name{
    color: #744274;
    
}

section{display: flex;
    padding: 80px;

}
.top{
    background-image: url(img/top-banner.png);
background-repeat: no-repeat;
}
.helf-width{
    width: 50%;
}
.helf-width img{
    width: 100%;
    height: 100%;
}
.button {
    text-decoration: none;
    background-color: #744274;
    border-radius: 5px;
    padding: 5px;
    color: black;
}   
.it-section{
   color: #744274;
}
.mid{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    size-adjust:2px;
}